/* 
* @Author: Jerry Yang
* @Date:   2017-06-01 10:40:12
* @Last Modified by:   Jerry Yang
* @Last Modified time: 2017-07-04 14:26:06
*/

body{ padding:0px; margin:0px; font-family:"微软雅黑"; font-size:12px; background: #BFEFFF;}
ul,li,dl,dt,h1,h2,h3,h4,h5,h6,p,ol{ padding:0px; margin:0px; list-style:none;}
img{ border:0px;}

.fl { float:left;}
.fr { float:right;}
.fw { font-weight:bold;}
.pd04{ padding:0px 4px;}
.fon_s14 { font-size:14px;}
a { text-decoration:none; color: #000;}
a:hover { text-decoration:none;}
em { font-style:normal;}
.cl { clear:both;}

.adminLogin-content{ width: 400px; height: 400px; margin: 0 auto;margin-top: 200px;}
.adminLogin-btn{width:280px; margin-left:50px;}

.admin-top{ width:100%; height: 100px;}
.admin-left{ width: 20%; color: #000; margin-left: 1.5%; float: left;}

.accordion-toggle {
    cursor: pointer; 
}
.accordion-group{ background: #FFF;} 


.admin-right
{
    float: left;
    width: 75%;
    margin-left: 1.5%;
    background: #FFF;
}

.admin-right-content
{
    padding-top: 30px;
    padding-bottom: 30px;
}

.groupForm
{
    margin-top: 15px;
}

.summernote-span
{
    width: 30%;
}

.summernote-span-i
{
    width: 80%;
}

.admin-right-padding
{
    padding-left: 10%;
}



