<div class="admin-right">
    <div class="admin-right-content">
        <div class="admin-right-padding" style="padding-right:50px;">
        	<div class="admin-list-new" style="margin-bottom: 30px;">
                <a href="articleAddShow.html"><button type="button" class="btn btn-primary">新建文章</button></a>
            </div>
	<table class="table table-hover">
	<tr>
	     <td>id</td>
	     <td>name</td>
	     <td>title</td>
	     <td>操作</td>
	</tr>
	{foreach name='articleData' item='item'}
	    <tr>
	        <td>{$item.id}</td>
	        <td>{$item.name}</td>
	        <td>{$item.title}</td>
	        <td><a href="articleEditShow.html?id={$item.id}">编辑</a>  <a style="cursor: pointer;" onclick="deleteArticle({$item.id})">删除</a></td>
	    </tr>
	 {/foreach}
	</table>

	{$articleData->render()}
        </div>
    </div>
</div>

<script type="text/javascript">

  
  function deleteArticle(id)
  {
      //alert(id);
      ajaxPost(id,'post','../admin/articleDelete.html');
  }


  function ajaxPost(id,type,url){

  //alert(id);
    //var formData = $("#"+formId).serialize();
    //console.log(formData);
    
    //modal.show();
    //serialize() 方法通过序列化表单值，创建 URL 编码文本字符串,这个是jquery提供的方法
    
    var data = 'id='+id;

    $.ajax({  
      type:type,  
      url:url,  
      data:data,//这里data传递过去的是序列化以后的字符串
      error:function(error)
      {
        $('#myModal-small .modal-title').html('信息提示');
        $('#myModal-small .modal-body').html('信息提交错误！请重新提交');
        $('#myModal-small').modal('show');
      },  
      success:function(data){
      //console.log(1111);  
        //$('#modalContent').val(data.data);
        if(data.error != 0)
        {
          $('#myModal-small .modal-title').html('信息提示');
          $('#myModal-small .modal-body').html(data.data);
          $('#myModal-small').modal('show');
        }
        else
        {
          $('#myModal-small .modal-title').html('信息提示');
          $('#myModal-small .modal-body').html(data.data);
          $('#myModal-small').modal('show');
          window.setTimeout("window.location.href='../admin/articleList.html'",2000);
        }
        //modal.show();
        }  
      });  
    }  
  //提示框
    /*
    var modal = $.scojs_modal({
      //alert($('#modalContent').val());
      title: '提示信息',
      content: $('#modalContent').val(),
      width:'400',
      height:'200',
      cssclass:'addClass',
      top:'20%',
      left:'35%',
    });
  */

</script>